fastapi
uvicorn[standard]
pydantic-settings
python-dotenv
requests
langchain
langchain-community
faiss-cpu
sentence-transformers
mistralai
cachetools
tenacity
unstructured[local-inference]
pypdf
langchain-huggingface
langchain-unstructured