fastapi
uvicorn[standard]
pydantic-settings
python-dotenv
requests
langchain
langchain-community
faiss-cpu
sentence-transformers
mistralai==0.4.2
cachetools
tenacity
langchain-huggingface
langchain-unstructured

# Lighter dependencies for PDF parsing
unstructured
pypdf